<link rel="stylesheet" href="./css/reset.css">
<link rel="stylesheet" href="./css/fonts.css">

<link rel="stylesheet" href="./css/auto.css">

<body>
    <div class="block">
        <p class="auto_text">Авторизация</p>

        <form action="/auto" method="post">
            <label for="name">
                Имя
                <input required type="name" name="name" placeholder="Введите имя">
            </label>

            <label for="password">
                Пароль
                <input required type="password" name="password" placeholder="Создать пароль">
            </label>

            <button class="btn">Войти</button>
        </form>

        <p class="footer_text">Еще нет аккаунта? <a href="/">Создать</a></p>
    </div>
</body>